curl.exe http://localhost:4001/graphql \
  -H "Content-Type: application/json" \
  -d '{"query":"query { _service { sdl } }"}'



Invoke-RestMethod `
  -Uri http://localhost:4002/graphql `
  -Method POST `
  -Headers @{ "Content-Type"="application/json" } `
  -Body '{"query":"query { _service { sdl } }"}'


